nav, main, footer, header {
        max-width: 64rem;
        margin:auto;
        box-shadow: 3px 0px 3px #888888;
}

/*----------- BODY --------------*/

.wrapper {
        width: 100%;
}


/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav ul li {
        width: 10%;
}


/*----------- MAIN --------------*/
form label.sbs {
        padding: .4rem 0;
}

/*----------- FOOTER --------------*/
    
